<div class="mobile">
  <div class="container blackBoxGrid">

    <div class="row">
      <div class="column aboutPhilosophy">
        <a href="/about-us/our-philosophy">
          <h1>OUR PHILOSOPHY</h1>
          <p>Live Oak Construction understands the true meaning of home. It is more than just an address, it is where you live and experience intimate moments amongst family and friends...</p>
        </a>
      </div>
      <div class="column buildersStory">
        <a href="/about-us/builders-story">
          <h1>BUILDER'S STORY</h1>
          <p>Live Oak Construction Inc. was created in April of 1991 by Ronald A. Voss, a licensed professional engineer in the state of Texas...</p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="column accolades">
        <a href="/about-us/accolades">
          <h1>ACCOLADES</h1>
          <p>A collection of our various awards and testomonials from companies and customers alike that had something to say about our work...</p>
        </a>
      </div>
    </div>

  </div>
</div>
<div class="desktop">
  <div class="blackBoxGrid">

    <div class="row">
      <div class="column aboutPhilosophy">
        <a href="/about-us/our-philosophy">
          <h1>OUR PHILOSOPHY</h1>
          <p>Live Oak Construction understands the true meaning of home. It is more than just an address, it is where you live and experience intimate moments amongst family and friends...</p>
        </a>
      </div>
      <div class="column buildersStory">
        <a href="/about-us/builders-story">
          <h1>BUILDER'S STORY</h1>
          <p>Live Oak Construction Inc. was created in April of 1991 by Ronald A. Voss, a licensed professional engineer in the state of Texas...</p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="column accolades">
        <a href="/about-us/accolades">
          <h1>ACCOLADES</h1>
          <p>A collection of our various awards and testomonials from companies and customers alike that had something to say about our work...</p>
        </a>
      </div>
    </div>

  </div>
</div>
