<section class="accolades">

  <div class="mobile">

    <div id="accoladesBox01" class="imgBox"></div>
    <div class="content">
      <h1>AWARDS</h1>

      <p>
        Parade of Homes Best of the Best 2016<br />
        <ul>
          <li>Over 1900 sqft</li>
          <li>Best Master Bath</li>
          <li>Best Craftsmanship Award</li>
          <li>Best Kitchen</li>
          <li>Best Exterior</li>
          <li>Best Interior</li>
          <li>Best Design Award</li>
        </ul>
      </p>

      <p>
        Parade of Homes 2014 People's Choice Award<br />
        Parade of Homes 2013 People's Choice Award
      </p>

      <p>
        Parade Of Homes Best of the Best 2012<br />
        <ul>
          <li>Over 1900 Sq. ft</li>
          <li>Best Floor Plan</li>
          <li>Best Interior</li>
          <li>Best Kitchen</li>
          <li>Best exterior</li>
        </ul>
      </p>

      <p>
        Parade of Homes Best of the Best 2011<br />
        <ul>
          <li>Over 1900 Sq. Ft.</li>
          <li>Best Floor plan</li>
          <li>Best Interior</li>
          <li>Best Bathroom</li>
          <li>Best Exterior</li>
        </ul>
      </p>

      <p>
        Member of the Better Business Bureau<br />
        Member of Corpus Christi Builders Association<br />
        Built home on Padre Island featured on HGTV<br />
        Best Exterior 2011 Parade of Homes<br />
        Best Interior 2011 Parade of Homes<br />
        Best Master Bath 2011 Parade of Homes<br />
        Best Overall Floor Plan 2011 Parade of Homes<br />
        Builders Association Showcase Builder 2010<br />
        Builders Association Builder of the Year 2009
      </p>
    </div>

    <div id="accoladesBox02" class="imgBox"></div>
    <div class="content">
      <h1>TESTIMONIALS</h1>

      <h3>BRENT MARSHALL</h3>
      <p>Live Oak Built my home on time, on budget, and with the quality one deserves and expects! They stand behind what they do!</p>

      <h3>ABLE &amp; CARLA VILLAREAL</h3>
      <p>Live Oak Construction, Richard Voss Builder, constructed our house seven years ago. Richard did a great overall job, paying attention to detail. Richard was very understanding when my wife and I could not agree on particulars. It was quite evident that Richard had total control of his subcontractors at all times. Richard implemented new features into our home with no questions asked, making it easy on my wife and I. Our home turned out very nice, such that it featured on National TV on HGTV November 2006. My wife, Carla, and I would highly recommend Richard as your next home builder.</p>

      <h3>PEGGY HUGHES</h3>
      <p>Live Oak Construction Company exemplifies the true meaning of excellent workmanship, being trustworthy and reliable and always standing behind their project from start to finish. In addition, Live Oak Construction Company is a professionally run company that we will use forever and highly recommend to anyone.</p>

      <h3>Jazmin and Tommy Torres</h3>
      <p>It has been about two months since we moved into our new house and we are loving it! Thank you for all your help in making our dream house a reality. Thank you for your patience and your commitment to building us a beautiful home. We had a great building experience and without a doubt, would do it all over again. I will gladly recommend any of you to anyone looking to build a house.</p>

      <h3>Jeff and Theresa Shea</h3>
      <p>Richard, I just want to say thanks again and that Live Oak builds a beautiful, quality house. You also have some damn good people working for you which is a sign of a good company. My compliments to you all.</p>

    </div>

    <div id="accoladesBox03" class="imgBox"></div>
  </div>

  <div class="tablet">
    <div class="row">
      <div class="column">
        <div class="content">
          <h1>AWARDS</h1>

          <p>
            Parade of Homes Best of the Best 2016<br />
            <ul>
              <li>Over 1900 sqft</li>
              <li>Best Master Bath</li>
              <li>Best Craftsmanship Award</li>
              <li>Best Kitchen</li>
              <li>Best Exterior</li>
              <li>Best Interior</li>
              <li>Best Design Award</li>
            </ul>
          </p>

          <p>
            Parade of Homes 2014 People's Choice Award<br />
            Parade of Homes 2013 People's Choice Award
          </p>

          <p>
            Parade Of Homes Best of the Best 2012<br />
            <ul>
              <li>Over 1900 Sq. ft</li>
              <li>Best Floor Plan</li>
              <li>Best Interior</li>
              <li>Best Kitchen</li>
              <li>Best exterior</li>
            </ul>
          </p>

          <p>
            Parade of Homes Best of the Best 2011<br />
            <ul>
              <li>Over 1900 Sq. Ft.</li>
              <li>Best Floor plan</li>
              <li>Best Interior</li>
              <li>Best Bathroom</li>
              <li>Best Exterior</li>
            </ul>
          </p>

          <p>
            Member of the Better Business Bureau<br />
            Member of Corpus Christi Builders Association<br />
            Built home on Padre Island featured on HGTV<br />
            Best Exterior 2011 Parade of Homes<br />
            Best Interior 2011 Parade of Homes<br />
            Best Master Bath 2011 Parade of Homes<br />
            Best Overall Floor Plan 2011 Parade of Homes<br />
            Builders Association Showcase Builder 2010<br />
            Builders Association Builder of the Year 2009
          </p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h1>TESTIMONIALS</h1>

          <h3>BRENT MARSHALL</h3>
          <p>Live Oak Built my home on time, on budget, and with the quality one deserves and expects! They stand behind what they do!</p>

          <h3>ABLE &amp; CARLA VILLAREAL</h3>
          <p>Live Oak Construction, Richard Voss Builder, constructed our house seven years ago. Richard did a great overall job, paying attention to detail. Richard was very understanding when my wife and I could not agree on particulars. It was quite evident that Richard had total control of his subcontractors at all times. Richard implemented new features into our home with no questions asked, making it easy on my wife and I. Our home turned out very nice, such that it featured on National TV on HGTV November 2006. My wife, Carla, and I would highly recommend Richard as your next home builder.</p>

          <h3>PEGGY HUGHES</h3>
          <p>Live Oak Construction Company exemplifies the true meaning of excellent workmanship, being trustworthy and reliable and always standing behind their project from start to finish. In addition, Live Oak Construction Company is a professionally run company that we will use forever and highly recommend to anyone.</p>

          <h3>Jazmin and Tommy Torres</h3>
          <p>It has been about two months since we moved into our new house and we are loving it! Thank you for all your help in making our dream house a reality. Thank you for your patience and your commitment to building us a beautiful home. We had a great building experience and without a doubt, would do it all over again. I will gladly recommend any of you to anyone looking to build a house.</p>

          <h3>Jeff and Theresa Shea</h3>
          <p>Richard, I just want to say thanks again and that Live Oak builds a beautiful, quality house. You also have some damn good people working for you which is a sign of a good company. My compliments to you all.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div id="accoladesBox01" class="imgBox"></div>
      </div>
    </div>
  </div>

  <div class="desktop">
    <div class="row">
      <div class="column column-33">
        <div class="content">
          <h1>AWARDS</h1>

          <p>
            Parade of Homes Best of the Best 2016<br />
            <ul>
              <li>Over 1900 sqft</li>
              <li>Best Master Bath</li>
              <li>Best Craftsmanship Award</li>
              <li>Best Kitchen</li>
              <li>Best Exterior</li>
              <li>Best Interior</li>
              <li>Best Design Award</li>
            </ul>
          </p>

          <p>
            Parade of Homes 2014 People's Choice Award<br />
            Parade of Homes 2013 People's Choice Award
          </p>

          <p>
            Parade Of Homes Best of the Best 2012<br />
            <ul>
              <li>Over 1900 Sq. ft</li>
              <li>Best Floor Plan</li>
              <li>Best Interior</li>
              <li>Best Kitchen</li>
              <li>Best exterior</li>
            </ul>
          </p>

          <p>
            Parade of Homes Best of the Best 2011<br />
            <ul>
              <li>Over 1900 Sq. Ft.</li>
              <li>Best Floor plan</li>
              <li>Best Interior</li>
              <li>Best Bathroom</li>
              <li>Best Exterior</li>
            </ul>
          </p>

          <p>
            Member of the Better Business Bureau<br />
            Member of Corpus Christi Builders Association<br />
            Built home on Padre Island featured on HGTV<br />
            Best Exterior 2011 Parade of Homes<br />
            Best Interior 2011 Parade of Homes<br />
            Best Master Bath 2011 Parade of Homes<br />
            Best Overall Floor Plan 2011 Parade of Homes<br />
            Builders Association Showcase Builder 2010<br />
            Builders Association Builder of the Year 2009
          </p><br />

          <h1>TESTIMONIALS</h1>

          <h3>BRENT MARSHALL</h3>
          <p>Live Oak Built my home on time, on budget, and with the quality one deserves and expects! They stand behind what they do!</p>

          <h3>ABLE &amp; CARLA VILLAREAL</h3>
          <p>Live Oak Construction, Richard Voss Builder, constructed our house seven years ago. Richard did a great overall job, paying attention to detail. Richard was very understanding when my wife and I could not agree on particulars. It was quite evident that Richard had total control of his subcontractors at all times. Richard implemented new features into our home with no questions asked, making it easy on my wife and I. Our home turned out very nice, such that it featured on National TV on HGTV November 2006. My wife, Carla, and I would highly recommend Richard as your next home builder.</p>

          <h3>PEGGY HUGHES</h3>
          <p>Live Oak Construction Company exemplifies the true meaning of excellent workmanship, being trustworthy and reliable and always standing behind their project from start to finish. In addition, Live Oak Construction Company is a professionally run company that we will use forever and highly recommend to anyone.</p>

          <h3>Jazmin and Tommy Torres</h3>
          <p>It has been about two months since we moved into our new house and we are loving it! Thank you for all your help in making our dream house a reality. Thank you for your patience and your commitment to building us a beautiful home. We had a great building experience and without a doubt, would do it all over again. I will gladly recommend any of you to anyone looking to build a house.</p>

          <h3>Jeff and Theresa Shea</h3>
          <p>Richard, I just want to say thanks again and that Live Oak builds a beautiful, quality house. You also have some damn good people working for you which is a sign of a good company. My compliments to you all.</p>

        </div>
      </div>
      <div class="column column-67">

        <div class="row">
          <div class="column">
            <div id="accoladesBox01" class="imgBox"></div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div id="accoladesBox02" class="imgBox"></div>
          </div>
          <div class="column">
            <div id="accoladesBox03" class="imgBox"></div>
          </div>
        </div>
        
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div id="accoladesBox04" class="imgBox"></div>
      </div>
    </div>

  </div>

</section>
