<section class="buildersStory">

  <div class="mobile">
    <div id="buildersStoryBox01" class="imgBox"></div>
    <div class="content">
      <h1>BUILDER'S STORY</h1>
      <p>Live Oak Construction Inc. was created in April of 1991 by Ronald A. Voss, a licensed professional engineer in the state of Texas. Mr. Voss, a 1970 graduate of Texas A&amp;M University with a BS in Civil Engineering, was already President of Voss Engineering Inc, and was involved in his specialty of foundation and windstorm engineering, as well as surveying and light structural engineering for over 50 builder clients and numerous individual clients for well over 10,000 structures.</p>
      <p>Ronnie Voss saw a need for the everyday homeowner to have a home built that was both structurally sound as well as design pleasing to their individual needs and lifestyle; hence the forming of Live Oak Construction Inc. To date, Live Oak Construction has been involved in over 600 homes ranging from $50,000 to upwards of $2 million dollars and prides itself on building every single home with the same structural and design integrity it was founded on. In 1993, the addition of another Texas A&amp;M graduate in civil engineering, Richard Voss, Live Oak began to modify their approach to building homes to accommodate the ever growing need for a full service custom builder.</p>
      <p>Today Live Oak's successful design to build program has made them the largest custom home builder in the Corpus Christi area. No other area custom home builder offers the combination of services Live Oak provides to meet their clients' needs or builds a home to the high standards Live Oak Construction prides itself on. In addition to building homes, both Voss's have completed their own developments in which to build in and are avid hunters and fishermen.</p>
    </div>
  </div>

  <div class="desktop">

    <div class="row">
      <div class="column column-67">

        <div class="row">
          <div class="column">
            <div id="buildersStoryBox05" class="imgBox"></div>
          </div>
        </div>

        <div class="content">
          <h1>BUILDER'S STORY</h1>
          <p>Live Oak Construction Inc. was created in April of 1991 by Ronald A. Voss, a licensed professional engineer in the state of Texas. Mr. Voss, a 1970 graduate of Texas A&amp;M University with a BS in Civil Engineering, was already President of Voss Engineering Inc, and was involved in his specialty of foundation and windstorm engineering, as well as surveying and light structural engineering for over 50 builder clients and numerous individual clients for well over 10,000 structures.</p>
          <p>Ronnie Voss saw a need for the everyday homeowner to have a home built that was both structurally sound as well as design pleasing to their individual needs and lifestyle; hence the forming of Live Oak Construction Inc. To date, Live Oak Construction has been involved in over 600 homes ranging from $50,000 to upwards of $2 million dollars and prides itself on building every single home with the same structural and design integrity it was founded on. In 1993, the addition of another Texas A&amp;M graduate in civil engineering, Richard Voss, Live Oak began to modify their approach to building homes to accommodate the ever growing need for a full service custom builder.</p>
          <p>Today Live Oak's successful design to build program has made them the largest custom home builder in the Corpus Christi area. No other area custom home builder offers the combination of services Live Oak provides to meet their clients' needs or builds a home to the high standards Live Oak Construction prides itself on. In addition to building homes, both Voss's have completed their own developments in which to build in and are avid hunters and fishermen.</p>
        </div>
      </div>
      <div class="column column-33">
        <div id="buildersStoryBox01" class="imgBox"></div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div id="buildersStoryBox02" class="imgBox"></div>
      </div>
      <div class="column">
        <div id="buildersStoryBox03" class="imgBox"></div>
      </div>
      <div class="column">
        <div id="buildersStoryBox04" class="imgBox"></div>
      </div>
    </div>

  </div>

</section>
