<div class="mobile">

  <div class="container blackBoxGrid">
    <div class="row">
      <div class="column buildingProcess">
        <h1>BUILDING PROCESS</h1>
        <p>We pride ourselves on providing our customers with a full service custom home design experience. This allows us to minimize the time and frustration involved in a traditional building experience and focus on what matters most; building your family's home. We do this by combining the designer for your home, budget requirement specifications as well as the construction management all under one roof. Our goal throughout this process is to provide you with the most stress free building experience while giving you peace of mind that your home will be designed, budgeted, and built with quality and integrity.</p>
      </div>
    </div>
  </div>

  <section>
    <div class="row">
      <div class="column">
        <div class="content">
          <h1>OUR PROCESS</h1>

          <h3>INITIAL MEETING</h3>
          <p>The initial meeting is an opportunity to discuss your needs, wants and dreams about your new home. At this time we will ask that you complete a design questionnaire so we can target your specific requirements. This questionnaire will also help us when it comes time to develop the budget for your home.

          <h3>DESIGN DEVELOPMENT</h3>
          <p>After your initial meeting you will then meet with our designer who will talk with you about your specific lot and its shape and topography as well as discuss your home needs. At this meeting feel free to bring pictures, other floor plans, and any ideas you wish to share with the designer. He will then take the design questionnaire as well as what he has learned about your personality, lifestyle and dreams for your home and develop a conceptual layout of your home. This is not a full set of plans however it is a 1/8 inch drawing that the builder can utilize to give you a cost estimate that will usually be within +/- 5% of the final budget.</p>

          <h3>PRESENTATION</h3>
          <p>After you have a conceptual layout and a cost estimate has been calculated. You will then meet with us to discuss the cost, features, and specifications and, if need be, to refine your design needs as necessary to match your project budget.</p>

          <h3>FINAL PLANS AND CONSTRUCTION MEETING</h3>
          <p>Once you have approved your conceptual layout and projected budget we will then get a signed and executed contract and develop a full set of detailed plans. These plans will then be given to you for a thorough review and approval. The builder will then provide a final cost and a construction meeting will be set. At this meeting you will meet your construction supervisor and review your plans with both him and the builder. This meeting is utilized to reaffirm that the design and features meet your lifestyle and needs as well as go over any questions you might still have; and it takes place a few weeks before construction.</p>

          <h3>CONSTRUCTION PHASE</h3>
          <p>The construction phase is broken down into parts that require your involvement in finalizing all of your selections such as lighting, flooring, cabinets, appliances, paint colors, etc... The selection process is well documented and has a clear timeline as this is critical to the construction of your home staying on schedule. Our designer/decorator will assist you in this process to guarantee your home reflects your individual personality and tastes. During the construction phase you will have complete access (at your own risk) to your home site as well as to both your construction supervisor and sales associate. They are there to assist you in this process so feel free to contact them with any questions or concerns that might arise during this phase.</p>
        </div>
      </div>
    </div>
  </section>

  <div class="container blackBoxGrid">
    <div class="row">
      <div class="column buildingProcess">
        <h3>BUILD ON YOUR LOT</h3>
        <p>Building the perfect home for your family is one of the largest investments both emotionally and financially you will ever make. We, at Live Oak Construction, understand that and pride ourselves on being a single source for all your building needs.</p>

        <p>Our build on your lot program is full service and individualized to meet those exact needs. We have design professionals who will guide you through the process to ensure your vision is truly reflected in the home we build. Our full service build on your lot program also includes evaluating your building site at no charge. This means we will travel to your homesite to assess additional site costs, soil conditions, building elevation, water and electric service and, wells and septic systems. This affords Live Oak the ability to give you a true and complete cost of your home as well as a realistic time for construction all before the building process ever begins. We, at Live Oak Construction, are dedicated to your complete satisfaction and are confident our process will both meet and exceed your expectations.</p>
      </div>
    </div>
  </div>

</div>

<div class="tablet">

  <div class="container blackBoxGrid">
    <div class="row">
      <div class="column buildingProcess">
        <h1>BUILDING PROCESS</h1>
        <p>We pride ourselves on providing our customers with a full service custom home design experience. This allows us to minimize the time and frustration involved in a traditional building experience and focus on what matters most; building your family's home. We do this by combining the designer for your home, budget requirement specifications as well as the construction management all under one roof. Our goal throughout this process is to provide you with the most stress free building experience while giving you peace of mind that your home will be designed, budgeted, and built with quality and integrity.</p>
      </div>
    </div>
  </div>

  <section>
    <div class="row">
      <div class="column">
        <div class="content">
          <h1>OUR PROCESS</h1>

          <h3>INITIAL MEETING</h3>
          <p>The initial meeting is an opportunity to discuss your needs, wants and dreams about your new home. At this time we will ask that you complete a design questionnaire so we can target your specific requirements. This questionnaire will also help us when it comes time to develop the budget for your home.

          <h3>DESIGN DEVELOPMENT</h3>
          <p>After your initial meeting you will then meet with our designer who will talk with you about your specific lot and its shape and topography as well as discuss your home needs. At this meeting feel free to bring pictures, other floor plans, and any ideas you wish to share with the designer. He will then take the design questionnaire as well as what he has learned about your personality, lifestyle and dreams for your home and develop a conceptual layout of your home. This is not a full set of plans however it is a 1/8 inch drawing that the builder can utilize to give you a cost estimate that will usually be within +/- 5% of the final budget.</p>

          <h3>PRESENTATION</h3>
          <p>After you have a conceptual layout and a cost estimate has been calculated. You will then meet with us to discuss the cost, features, and specifications and, if need be, to refine your design needs as necessary to match your project budget.</p>

          <h3>FINAL PLANS AND CONSTRUCTION MEETING</h3>
          <p>Once you have approved your conceptual layout and projected budget we will then get a signed and executed contract and develop a full set of detailed plans. These plans will then be given to you for a thorough review and approval. The builder will then provide a final cost and a construction meeting will be set. At this meeting you will meet your construction supervisor and review your plans with both him and the builder. This meeting is utilized to reaffirm that the design and features meet your lifestyle and needs as well as go over any questions you might still have; and it takes place a few weeks before construction.</p>

          <h3>CONSTRUCTION PHASE</h3>
          <p>The construction phase is broken down into parts that require your involvement in finalizing all of your selections such as lighting, flooring, cabinets, appliances, paint colors, etc... The selection process is well documented and has a clear timeline as this is critical to the construction of your home staying on schedule. Our designer/decorator will assist you in this process to guarantee your home reflects your individual personality and tastes. During the construction phase you will have complete access (at your own risk) to your home site as well as to both your construction supervisor and sales associate. They are there to assist you in this process so feel free to contact them with any questions or concerns that might arise during this phase.</p>
        </div>
      </div>
      <div class="column">

        <div class="row">
          <div class="column">
            <div id="buildingProcessBox01" class="imgBox"></div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div id="buildingProcessBox02" class="imgBox"></div>
          </div>
          <div class="column">
            <div id="buildingProcessBox03" class="imgBox"></div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div id="buildingProcessBox04" class="imgBox"></div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div id="buildingProcessBox05" class="imgBox"></div>
          </div>
          <div class="column">
            <div id="buildingProcessBox06" class="imgBox"></div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div id="buildingProcessBox07" class="imgBox"></div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div id="buildingProcessBox08" class="imgBox"></div>
          </div>
          <div class="column">
            <div id="buildingProcessBox09" class="imgBox"></div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div id="buildingProcessBox10" class="imgBox"></div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <div class="container blackBoxGrid">
    <div class="row">
      <div class="column buildingProcess">
        <h1>BUILD ON YOUR LOT</h1>
        <p>Building the perfect home for your family is one of the largest investments both emotionally and financially you will ever make. We, at Live Oak Construction, understand that and pride ourselves on being a single source for all your building needs.</p>

        <p>Our build on your lot program is full service and individualized to meet those exact needs. We have design professionals who will guide you through the process to ensure your vision is truly reflected in the home we build. Our full service build on your lot program also includes evaluating your building site at no charge. This means we will travel to your homesite to assess additional site costs, soil conditions, building elevation, water and electric service and, wells and septic systems. This affords Live Oak the ability to give you a true and complete cost of your home as well as a realistic time for construction all before the building process ever begins. We, at Live Oak Construction, are dedicated to your complete satisfaction and are confident our process will both meet and exceed your expectations.</p>
      </div>
    </div>
  </div>

</div>

<div class="desktop">

  <div class="blackBoxGrid">
    <div class="row">
      <div class="column buildingProcess">
        <h1>BUILDING PROCESS</h1>
        <p>We pride ourselves on providing our customers with a full service custom home design experience. This allows us to minimize the time and frustration involved in a traditional building experience and focus on what matters most; building your family's home. We do this by combining the designer for your home, budget requirement specifications as well as the construction management all under one roof. Our goal throughout this process is to provide you with the most stress free building experience while giving you peace of mind that your home will be designed, budgeted, and built with quality and integrity.</p>
      </div>
    </div>
  </div>

  <section>
    <div class="row">
      <div class="column">
        <div class="content">
          <h1>OUR PROCESS</h1>

          <h3>INITIAL MEETING</h3>
          <p>The initial meeting is an opportunity to discuss your needs, wants and dreams about your new home. At this time we will ask that you complete a design questionnaire so we can target your specific requirements. This questionnaire will also help us when it comes time to develop the budget for your home.

          <h3>DESIGN DEVELOPMENT</h3>
          <p>After your initial meeting you will then meet with our designer who will talk with you about your specific lot and its shape and topography as well as discuss your home needs. At this meeting feel free to bring pictures, other floor plans, and any ideas you wish to share with the designer. He will then take the design questionnaire as well as what he has learned about your personality, lifestyle and dreams for your home and develop a conceptual layout of your home. This is not a full set of plans however it is a 1/8 inch drawing that the builder can utilize to give you a cost estimate that will usually be within +/- 5% of the final budget.</p>

          <h3>PRESENTATION</h3>
          <p>After you have a conceptual layout and a cost estimate has been calculated. You will then meet with us to discuss the cost, features, and specifications and, if need be, to refine your design needs as necessary to match your project budget.</p>

          <h3>FINAL PLANS AND CONSTRUCTION MEETING</h3>
          <p>Once you have approved your conceptual layout and projected budget we will then get a signed and executed contract and develop a full set of detailed plans. These plans will then be given to you for a thorough review and approval. The builder will then provide a final cost and a construction meeting will be set. At this meeting you will meet your construction supervisor and review your plans with both him and the builder. This meeting is utilized to reaffirm that the design and features meet your lifestyle and needs as well as go over any questions you might still have; and it takes place a few weeks before construction.</p>

          <h3>CONSTRUCTION PHASE</h3>
          <p>The construction phase is broken down into parts that require your involvement in finalizing all of your selections such as lighting, flooring, cabinets, appliances, paint colors, etc... The selection process is well documented and has a clear timeline as this is critical to the construction of your home staying on schedule. Our designer/decorator will assist you in this process to guarantee your home reflects your individual personality and tastes. During the construction phase you will have complete access (at your own risk) to your home site as well as to both your construction supervisor and sales associate. They are there to assist you in this process so feel free to contact them with any questions or concerns that might arise during this phase.</p>
        </div>
      </div>
      <div class="column">

        <div class="row">
          <div class="column">
            <div id="buildingProcessBox01" class="imgBox"></div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div id="buildingProcessBox02" class="imgBox"></div>
          </div>
          <div class="column">
            <div id="buildingProcessBox03" class="imgBox"></div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div id="buildingProcessBox04" class="imgBox"></div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div id="buildingProcessBox05" class="imgBox"></div>
          </div>
          <div class="column">
            <div id="buildingProcessBox06" class="imgBox"></div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <div class="blackBoxGrid">
    <div class="row">
      <div class="column buildingProcess">
        <h1>BUILD ON YOUR LOT</h1>
        <p>Building the perfect home for your family is one of the largest investments both emotionally and financially you will ever make. We, at Live Oak Construction, understand that and pride ourselves on being a single source for all your building needs.</p>

        <p>Our build on your lot program is full service and individualized to meet those exact needs. We have design professionals who will guide you through the process to ensure your vision is truly reflected in the home we build. Our full service build on your lot program also includes evaluating your building site at no charge. This means we will travel to your homesite to assess additional site costs, soil conditions, building elevation, water and electric service and, wells and septic systems. This affords Live Oak the ability to give you a true and complete cost of your home as well as a realistic time for construction all before the building process ever begins. We, at Live Oak Construction, are dedicated to your complete satisfaction and are confident our process will both meet and exceed your expectations.</p>
      </div>
    </div>
  </div>

</div>
