<section class="contactUs">

  <div class="mobile">
    <div id="accoladesBox01" class="imgBox"></div>
    <div class="content">
      <h1>CONTACT US</h1>
      <h3>LIVE OAK CUSTOM HOMES</h3>
      <p>
        <strong>6838 Greenwood Dr. Corpus Christi, TX 78415</strong>
      </p>
      <p>
        Office: (361) 854-1626 | General Sales: (361) 850-9153<br />
        Fax: (866) 408-0656
      </p>
      <p>
        <a href="#">Download Broker-Client Registration Form</a>
      </p>
    </div>
  </div>

</section>
