<div class="mobile">
  <div class="container blackBoxGrid">

    <div class="row">
      <div class="column buildingProcess">
        <h1>BUILDING PROCESS</h1>
        <p>We pride ourselves on providing our customers with a full service custom home design experience. Learn about how the process works from start to finish so you can know what to expect when building a Live Oak Home...</p>
      </div>
      <div class="column series">
        <h1>SERIES</h1>
        <p>Live Oak Homes offers home builders three series to choose from.</p>
        <p>Each series offers different levels of features and amenities to provide home owners with versatilitby and accommodate individual needs...</p>
      </div>
    </div>

    <div class="row">
      <div class="column neighborhoods">
        <h1>NEIGHBORHOODS</h1>
        <p>Shoreline Oaks and the Coves at Lago Vista are both beautiful communities of Live Oak Homes with many ammenities afforded to those who live there. Learn about each community, view neighborhood plats, and schedule an appointment to view model homes...</p>
      </div>
      <div class="column faq">
        <h1>FREQUENTLY ASKED QUESTIONS</h1>
        <p>Read commonly asked questions and find answers about Live Oak homes, neighborhoods, the building process and more...</p>
      </div>
    </div>

  </div>
</div>
<div class="desktop">
  <div class="blackBoxGrid">

    <div class="row">
      <div class="column buildingProcess">
        <h1>BUILDING PROCESS</h1>
        <p>We pride ourselves on providing our customers with a full service custom home design experience. Learn about how the process works from start to finish so you can know what to expect when building a Live Oak Home...</p>
      </div>
      <div class="column series">
        <h1>SERIES</h1>
        <p>Live Oak Homes offers home builders three series to choose from.</p>
        <p>Each series offers different levels of features and amenities to provide home owners with versatilitby and accommodate individual needs...</p>
      </div>
    </div>

    <div class="row">
      <div class="column neighborhoods">
        <h1>NEIGHBORHOODS</h1>
        <p>Shoreline Oaks and the Coves at Lago Vista are both beautiful communities of Live Oak Homes with many ammenities afforded to those who live there. Learn about each community, view neighborhood plats, and schedule an appointment to view model homes...</p>
      </div>
      <div class="column faq">
        <h1>FREQUENTLY ASKED QUESTIONS</h1>
        <p>Read commonly asked questions and find answers about Live Oak homes, neighborhoods, the building process and more...</p>
      </div>
    </div>

  </div>
</div>
