<section class="gallery">
  <div class="row">
    <div class="column">
      <div id="galleryBox01" class="imgBox"></div>
    </div>
  </div>

  <div class="mobile">
    <div class="row">
      <div class="column">
        <div id="galleryBox02" class="imgBox"></div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div id="galleryBox03" class="imgBox"></div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div id="galleryBox04" class="imgBox"></div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div id="galleryBox05" class="imgBox"></div>
      </div>
    </div>
  </div>

  <div class="tablet">
    <div class="row">
      <div class="column column-33">
        <div id="galleryBox02" class="imgBox"></div>
      </div>
      <div class="column column-67">
        <div id="galleryBox03" class="imgBox"></div>
      </div>
    </div>
    <div class="row">
      <div class="column column-67">
        <div id="galleryBox04" class="imgBox"></div>
      </div>
      <div class="column column-33">
        <div id="galleryBox05" class="imgBox"></div>
      </div>
    </div>
  </div>

  <div class="desktop">
    <div class="row">
      <div class="column column-33">
        <div id="galleryBox02" class="imgBox"></div>
      </div>
      <div class="column column-67">
        <div id="galleryBox03" class="imgBox"></div>
      </div>
    </div>
    <div class="row">
      <div class="column column-67">
        <div id="galleryBox04" class="imgBox"></div>
      </div>
      <div class="column column-33">
        <div id="galleryBox05" class="imgBox"></div>
      </div>
    </div>
  </div>


</section>
