<div class="mobile">
  <div class="container blackBoxGrid">

    <div class="row">
      <div class="column gallery01">
        <a href="/inspiration/gallery-01">
          <h1>EXAMPLE HOME ONE</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
      <div class="column gallery02">
        <a href="/inspiration/gallery-02">
          <h1>EXAMPLE HOME TWO</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="column gallery03">
        <a href="/inspiration/gallery-03">
          <h1>EXAMPLE HOME THREE</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
      <div class="column gallery04">
        <a href="/inspiration/gallery-04">
          <h1>EXAMPLE HOME FOUR</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
    </div>

  </div>
</div>
<div class="tablet">
  <div class="blackBoxGrid">

    <div class="row">
      <div class="column gallery01">
        <a href="/inspiration/gallery-01">
          <h1>EXAMPLE HOME ONE</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
      <div class="column gallery02">
        <a href="/inspiration/gallery-02">
          <h1>EXAMPLE HOME TWO</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="column gallery03">
        <a href="/inspiration/gallery-03">
          <h1>EXAMPLE HOME THREE</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
      <div class="column gallery04">
        <a href="/inspiration/gallery-04">
          <h1>EXAMPLE HOME FOUR</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
    </div>

  </div>
</div>
<div class="desktop">
  <div class="blackBoxGrid">

    <div class="row">
      <div class="column gallery01">
        <a href="/inspiration/gallery-01">
          <h1>EXAMPLE HOME ONE</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
      <div class="column gallery02">
        <a href="/inspiration/gallery-02">
          <h1>EXAMPLE HOME TWO</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="column gallery03">
        <a href="/inspiration/gallery-03">
          <h1>EXAMPLE HOME THREE</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
      <div class="column gallery04">
        <a href="/inspiration/gallery-04">
          <h1>EXAMPLE HOME FOUR</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
    </div>

  </div>
</div>
