<section class="series">

  <div class="mobile">

    <div id="lagoSeriesBox01" class="imgBox"></div>
    <div class="content">
      <h1>LAGO SERIES</h1>

      <h3>Interior Features</h3>
      <ul>
        <li>9'-10' Plate Height (per plans)</li>
        <li>9'-13' ceilings throughout home w/ enhanced raised ceilings</li>
        <li>Crown Moulding in Master Bedroom, Living Room, Kitchen, Breakfast and Dining</li>
        <li>&frac12;&quot; Sheetrock with Bull nose corners T/O except Window Returns including Ceilings</li>
        <li>1 Main Wall Color and 2 Accent Wall Colors</li>
        <li>Ceramic Tile Flooring in Kitchen, All Bath's, Foyer, Living Room, Utility Room and Breakfast</li>
        <li>4 &frac12;&quot; Decorative B-11 Base Moulding</li>
        <li>2 &frac12;&quot; Decorative B-11 Door Casing - 6'8&quot; Doors</li>
        <li>Custom Built, Ash, Knotty Adler or Birch, Cabinets with Solid Wood Raised Panel Doors, 36' Uppers on 9 &amp; 10 Plate, Crown Moulding and Recessed Hinges</li>
        <li>Wood Cased Windows in Living Room, Breakfast, Dining Room and Study</li>
        <li>Convenience Drawer at Vanities and Kitchen Sink</li>
        <li>Custom Granite Countertops with Tumbled Marble Backsplash on Diagonal with Stainless Steel Under Counter Mount Kitchen Sink</li>
        <li>Granite Vanities with Double Drop-In Kohler Sinks in Master Bath (per plan)</li>
        <li>Secondary Bath Vanities Cultured Marble with Integrated Lavatory</li>
        <li>&frac12; Bath Furniture Piece Vanity</li>
        <li>6'8&quot; Steel Insulated Exterior Doors with Jam Savers</li>
        <li>6'8&quot; Raised Interior Panel Doors (6-Panel or Cheyenne)</li>
        <li>Lighting Package Including Ceiling Fans in Living Room and Master Bedroom. (All Bedrooms braced and wired for Fan)</li>
        <li>10 Recessed Cans</li>
        <li>Master Bath 42X60 Acrylic Drop-In Oval Whirlpool Tub Tile Deck/Custom Tile Shower with Framed Glass Panel and Door (specific to plans)</li>
        <li>Secondary Bath's have Tile Kohler Tub with Tile Surrounds</li>
        <li>Luxart Plumbing Fixtures</li>
        <li>Oil Rubbed Bronze or Brushed Nickel Plumbing Faucets in all areas</li>
        <li>Gas Water Heater, Dryer and Cooktop</li>
        <li>Pre-wired for 4 telephone jacks</li>
        <li>Pre-wired for 4 cable outlets</li>
        <li>Centralized Smart Box for Home Entertainment System</li>
        <li>Full Security System</li>
        <li>Garage Door Openers with 2 Remotes</li>
      </ul>
    </div>
    <div id="lagoSeriesBox02" class="imgBox"></div>
    <div class="content">
      <h3>Exterior Features</h3>
      <ul>
        <li>Individually Engineered and Inspected Post Tension Foundation</li>
        <li>100% Masonry Brick, Stone, Stucco or Hardi Plank Veneer per Plans</li>
        <li>House Wrap Vapor Barrier</li>
        <li>Hardi Fascia and Soffit, Continuous Soffit Vents</li>
        <li>9' Exterior Plate Height with Raised Ceilings to Enhance the Home</li>
        <li>30-Year Composition Shingle</li>
        <li>Alenco Vinyl Double Pane Low E Windows - White or Terra Beige with Plywood Coverings</li>
        <li>Two Car Garage with Wind Storm Rated Garage Door</li>
        <li>Broom Finished Driveways and Walks</li>
      </ul>
    </div>
    <div id="lagoSeriesBox03" class="imgBox"></div>
    <div class="content">
      <h3>Energy Saving Features</h3>
      <ul>
        <li>House Wrap Vapor Barrier</li>
        <li>7/16&quot; OSB Radiant Barriers Roof Deck</li>
        <li>R-14.5 Blown Insulation in Sidewalls, R-30 in Attic</li>
        <li>Alenco Vinyl Double Pane Low E Windows</li>
        <li>High Efficiency 14 SEER Air Conditioning Unit with Digital T-Stat, Amana A/C Unit with 10-Year Compressor Warranty or Customer Initiated Lifetime Compressor Warranty</li>
        <li>Energy Star Rated Construction</li>
      </ul>
    </div>
    <div id="lagoSeriesBox04" class="imgBox"></div>
    <div class="content">
      <h3>Allowances</h3>
      <ul>
        <li><strong>Appliances:</strong> $4,500.00</li>
        <li><strong>Light Fixtures:</strong> $3,500.00</li>
        <li><strong>Trim Hardware:</strong> $1,000.00</li>
        <li><strong>Tile:</strong> $4.50 sq. ft.</li>
        <li><strong>Carpet:</strong> $20.00 sq. yd.</li>
        <li><strong>Entry Door:</strong> $1,000.00</li>
        <li><strong>Security System:</strong>	$650.00</li>
      </ul>
    </div>
    <div id="lagoSeriesBox05" class="imgBox"></div>
  </div>

  <div class="tablet">
    <div class="row">
      <div class="column column-60">

        <div class="content">
          <h1>LAGO SERIES</h1>

          <h3>Interior Features</h3>
          <ul>
            <li>9'-10' Plate Height (per plans)</li>
            <li>9'-13' ceilings throughout home w/ enhanced raised ceilings</li>
            <li>Crown Moulding in Master Bedroom, Living Room, Kitchen, Breakfast and Dining</li>
            <li>&frac12;&quot; Sheetrock with Bull nose corners T/O except Window Returns including Ceilings</li>
            <li>1 Main Wall Color and 2 Accent Wall Colors</li>
            <li>Ceramic Tile Flooring in Kitchen, All Bath's, Foyer, Living Room, Utility Room and Breakfast</li>
            <li>4 &frac12;&quot; Decorative B-11 Base Moulding</li>
            <li>2 &frac12;&quot; Decorative B-11 Door Casing - 6'8&quot; Doors</li>
            <li>Custom Built, Ash, Knotty Adler or Birch, Cabinets with Solid Wood Raised Panel Doors, 36' Uppers on 9 &amp; 10 Plate, Crown Moulding and Recessed Hinges</li>
            <li>Wood Cased Windows in Living Room, Breakfast, Dining Room and Study</li>
            <li>Convenience Drawer at Vanities and Kitchen Sink</li>
            <li>Custom Granite Countertops with Tumbled Marble Backsplash on Diagonal with Stainless Steel Under Counter Mount Kitchen Sink</li>
            <li>Granite Vanities with Double Drop-In Kohler Sinks in Master Bath (per plan)</li>
            <li>Secondary Bath Vanities Cultured Marble with Integrated Lavatory</li>
            <li>&frac12; Bath Furniture Piece Vanity</li>
            <li>6'8&quot; Steel Insulated Exterior Doors with Jam Savers</li>
            <li>6'8&quot; Raised Interior Panel Doors (6-Panel or Cheyenne)</li>
            <li>Lighting Package Including Ceiling Fans in Living Room and Master Bedroom. (All Bedrooms braced and wired for Fan)</li>
            <li>10 Recessed Cans</li>
            <li>Master Bath 42X60 Acrylic Drop-In Oval Whirlpool Tub Tile Deck/Custom Tile Shower with Framed Glass Panel and Door (specific to plans)</li>
            <li>Secondary Bath's have Tile Kohler Tub with Tile Surrounds</li>
            <li>Luxart Plumbing Fixtures</li>
            <li>Oil Rubbed Bronze or Brushed Nickel Plumbing Faucets in all areas</li>
            <li>Gas Water Heater, Dryer and Cooktop</li>
            <li>Pre-wired for 4 telephone jacks</li>
            <li>Pre-wired for 4 cable outlets</li>
            <li>Centralized Smart Box for Home Entertainment System</li>
            <li>Full Security System</li>
            <li>Garage Door Openers with 2 Remotes</li>
          </ul>

          <h3>Exterior Features</h3>
          <ul>
            <li>Individually Engineered and Inspected Post Tension Foundation</li>
            <li>100% Masonry Brick, Stone, Stucco or Hardi Plank Veneer per Plans</li>
            <li>House Wrap Vapor Barrier</li>
            <li>Hardi Fascia and Soffit, Continuous Soffit Vents</li>
            <li>9' Exterior Plate Height with Raised Ceilings to Enhance the Home</li>
            <li>30-Year Composition Shingle</li>
            <li>Alenco Vinyl Double Pane Low E Windows - White or Terra Beige with Plywood Coverings</li>
            <li>Two Car Garage with Wind Storm Rated Garage Door</li>
            <li>Broom Finished Driveways and Walks</li>
          </ul>

          <h3>Energy Saving Features</h3>
          <ul>
            <li>House Wrap Vapor Barrier</li>
            <li>7/16&quot; OSB Radiant Barriers Roof Deck</li>
            <li>R-14.5 Blown Insulation in Sidewalls, R-30 in Attic</li>
            <li>Alenco Vinyl Double Pane Low E Windows</li>
            <li>High Efficiency 14 SEER Air Conditioning Unit with Digital T-Stat, Amana A/C Unit with 10-Year Compressor Warranty or Customer Initiated Lifetime Compressor Warranty</li>
            <li>Energy Star Rated Construction</li>
          </ul>

          <h3>Allowances</h3>
          <ul>
            <li><strong>Appliances:</strong> $4,500.00</li>
            <li><strong>Light Fixtures:</strong> $3,500.00</li>
            <li><strong>Trim Hardware:</strong> $1,000.00</li>
            <li><strong>Tile:</strong> $4.50 sq. ft.</li>
            <li><strong>Carpet:</strong> $20.00 sq. yd.</li>
            <li><strong>Entry Door:</strong> $1,000.00</li>
            <li><strong>Security System:</strong>	$650.00</li>
          </ul>

        </div>
      </div>

      <div class="column column-40">

        <div class="row">
          <div class="column">
            <div id="lagoSeriesBox01" class="imgBox"></div>
          </div>
        </div><br />
        <div class="row">
          <div class="column">
            <div id="lagoSeriesBox02" class="imgBox"></div>
          </div>
        </div><br />
        <div class="row">
          <div class="column">
            <div id="lagoSeriesBox03" class="imgBox"></div>
          </div>
        </div><br />
        <div class="row">
          <div class="column">
            <div id="lagoSeriesBox04" class="imgBox"></div>
          </div>
        </div><br />
        <div class="row">
          <div class="column">
            <div id="lagoSeriesBox05" class="imgBox"></div>
          </div>
        </div><br />
        <div class="row">
          <div class="column">
            <div id="lagoSeriesBox06" class="imgBox"></div>
          </div>
        </div><br />
        <div class="row">
          <div class="column">
            <div id="lagoSeriesBox07" class="imgBox"></div>
          </div>
        </div><br />
        <div class="row">
          <div class="column">
            <div id="lagoSeriesBox08" class="imgBox"></div>
          </div>
        </div><br />
        <div class="row">
          <div class="column">
            <div id="lagoSeriesBox09" class="imgBox"></div>
          </div>
        </div><br />
        <div class="row">
          <div class="column">
            <div id="lagoSeriesBox10" class="imgBox"></div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="desktop">

    <div class="content">
      <div class="row">
        <div class="column">
          <h1>LAGO SERIES</h1>
        </div>
      </div>

      <div class="row">

        <div class="column">
          <h3>Interior Features</h3>
          <ul>
            <li>9'-10' Plate Height (per plans)</li>
            <li>9'-13' ceilings throughout home w/ enhanced raised ceilings</li>
            <li>Crown Moulding in Master Bedroom, Living Room, Kitchen, Breakfast and Dining</li>
            <li>&frac12;&quot; Sheetrock with Bull nose corners T/O except Window Returns including Ceilings</li>
            <li>1 Main Wall Color and 2 Accent Wall Colors</li>
            <li>Ceramic Tile Flooring in Kitchen, All Bath's, Foyer, Living Room, Utility Room and Breakfast</li>
            <li>4 &frac12;&quot; Decorative B-11 Base Moulding</li>
            <li>2 &frac12;&quot; Decorative B-11 Door Casing - 6'8&quot; Doors</li>
            <li>Custom Built, Ash, Knotty Adler or Birch, Cabinets with Solid Wood Raised Panel Doors, 36' Uppers on 9 &amp; 10 Plate, Crown Moulding and Recessed Hinges</li>
            <li>Wood Cased Windows in Living Room, Breakfast, Dining Room and Study</li>
            <li>Convenience Drawer at Vanities and Kitchen Sink</li>
            <li>Custom Granite Countertops with Tumbled Marble Backsplash on Diagonal with Stainless Steel Under Counter Mount Kitchen Sink</li>
            <li>Granite Vanities with Double Drop-In Kohler Sinks in Master Bath (per plan)</li>
            <li>Secondary Bath Vanities Cultured Marble with Integrated Lavatory</li>
            <li>&frac12; Bath Furniture Piece Vanity</li>
            <li>6'8&quot; Steel Insulated Exterior Doors with Jam Savers</li>
            <li>6'8&quot; Raised Interior Panel Doors (6-Panel or Cheyenne)</li>
            <li>Lighting Package Including Ceiling Fans in Living Room and Master Bedroom. (All Bedrooms braced and wired for Fan)</li>
            <li>10 Recessed Cans</li>
            <li>Master Bath 42X60 Acrylic Drop-In Oval Whirlpool Tub Tile Deck/Custom Tile Shower with Framed Glass Panel and Door (specific to plans)</li>
            <li>Secondary Bath's have Tile Kohler Tub with Tile Surrounds</li>
            <li>Luxart Plumbing Fixtures</li>
            <li>Oil Rubbed Bronze or Brushed Nickel Plumbing Faucets in all areas</li>
            <li>Gas Water Heater, Dryer and Cooktop</li>
            <li>Pre-wired for 4 telephone jacks</li>
            <li>Pre-wired for 4 cable outlets</li>
            <li>Centralized Smart Box for Home Entertainment System</li>
            <li>Full Security System</li>
            <li>Garage Door Openers with 2 Remotes</li>
          </ul>
        </div>

        <div class="column">
          <h3>Exterior Features</h3>
          <ul>
            <li>Individually Engineered and Inspected Post Tension Foundation</li>
            <li>100% Masonry Brick, Stone, Stucco or Hardi Plank Veneer per Plans</li>
            <li>House Wrap Vapor Barrier</li>
            <li>Hardi Fascia and Soffit, Continuous Soffit Vents</li>
            <li>9' Exterior Plate Height with Raised Ceilings to Enhance the Home</li>
            <li>30-Year Composition Shingle</li>
            <li>Alenco Vinyl Double Pane Low E Windows - White or Terra Beige with Plywood Coverings</li>
            <li>Two Car Garage with Wind Storm Rated Garage Door</li>
            <li>Broom Finished Driveways and Walks</li>
          </ul>

          <h3>Energy Saving Features</h3>
          <ul>
            <li>House Wrap Vapor Barrier</li>
            <li>7/16&quot; OSB Radiant Barriers Roof Deck</li>
            <li>R-14.5 Blown Insulation in Sidewalls, R-30 in Attic</li>
            <li>Alenco Vinyl Double Pane Low E Windows</li>
            <li>High Efficiency 14 SEER Air Conditioning Unit with Digital T-Stat, Amana A/C Unit with 10-Year Compressor Warranty or Customer Initiated Lifetime Compressor Warranty</li>
            <li>Energy Star Rated Construction</li>
          </ul>

          <h3>Allowances</h3>
          <ul>
            <li><strong>Appliances:</strong> $4,500.00</li>
            <li><strong>Light Fixtures:</strong> $3,500.00</li>
            <li><strong>Trim Hardware:</strong> $1,000.00</li>
            <li><strong>Tile:</strong> $4.50 sq. ft.</li>
            <li><strong>Carpet:</strong> $20.00 sq. yd.</li>
            <li><strong>Entry Door:</strong> $1,000.00</li>
            <li><strong>Security System:</strong>	$650.00</li>
          </ul>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="column column-33">

        <div class="row">
          <div class="column">
            <div id="lagoSeriesBox01" class="imgBox"></div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div id="lagoSeriesBox02" class="imgBox"></div>
          </div>
          <div class="column">
            <div id="lagoSeriesBox03" class="imgBox"></div>
          </div>
        </div>

      </div>
      <div class="column column-67">

        <div class="row">
          <div class="column column-67">
            <div id="lagoSeriesBox04" class="imgBox"></div>
          </div>
          <div class="column column-33">
            <div id="lagoSeriesBox05" class="imgBox"></div>
          </div>
        </div>

        <div class="row">
          <div class="column column-33">
            <div id="lagoSeriesBox06" class="imgBox"></div>
          </div>
          <div class="column column-67">

            <div class="row">
              <div class="column">
                <div id="lagoSeriesBox07" class="imgBox"></div>
              </div>
              <div class="column">
                <div id="lagoSeriesBox08" class="imgBox"></div>
              </div>
            </div>

            <div class="row">
              <div class="column">
                <div id="lagoSeriesBox09" class="imgBox"></div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>

</section>
