<section>

  <div class="mobile">
    <div class="row">
      <div class="column">
        <div class="content">
          <h1>Live Oak Neighborhoods</h1><br />

          <div class="row">
            <div class="column">
              <div id="neighborhoodsBox01" class="imgBox"></div><br />
              <h2>Shoreline Oaks - From the 120's</h2>
            </div>
          </div>
          <div class="row">
            <div class="column">
              <p>Shoreline Oaks is a community with many ammenities including:</p>
              <ul>
                <li>Energy Efficient Homes</li>
                <li>Designed with Families in Mind</li>
                <li>Located only Minutes from One of the Top Rated School Districts in Texas (Flour Bluff Independent School District)</li>
                <li>Only 5 Minutes from Naval Air Station Corpus Christi</li>
                <li>Only 3 Minutes from H.E.B, Wal-Mart, &amp; Post Office</li>
                <li>10 Minute from Malls, Restaurant Row, Theaters and Gulf Beaches</li>
                <li>Neighborhood Swimming Pool with Children's Water Area &amp; park</li>
                <li>Home Owner's Association Maintains Pool, Common Areas, and All Front Lawns</li>
                <li>Future Waterfront Park</li>
              </ul>
            </div>
            <div class="column">
              <h3>Gloria Martinez</h3>
              <p>
                Sales Representative<br>
                <a href="mailto:gloria@liveoakcustomhomes.com">gloria@liveoakcustomhomes.com</a><br>
                Office: (361) 937-5668<br>
                Cell: (361) 549-1432
              </p>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="column">
              <h2>The Coves at Lago Vista</h2>
            </div>
          </div>
          <div class="row">
            <div class="column">
              <p>"The new way to live in South Texas"</p>
              <p>The Coves at Lago Vista is a private lake community with many ammenities including:</p>

              <ul>
                <li>Lago Vista is a well-planned private gated lakeside and water-skiing community that offers families a relaxed vacation lifestyle with recreational activities ie. Boating, swimming, fishing.</li>
                <li>64 waterfront and 96 ranch home sites-Oversized and maintainable lots ranging from &frac12; ac. to 1 ac. - 19 acre regulation water-ski lake (2230'x275'x8' deep)</li>
                <li>The lake will be landscaped with over 100 trees for wind protection and aesthetic value.</li>
                <li>Community will provide common dock area, boat ramp, lighted entry fountain, open cabana, and swimming pool.</li>
                <li>1 &frac12; mile west of Oso Creek on FM. 2444 (S. Staples) near all Southside amenities and future crosstown extension.</li>
                <li>15 lots reserved for water-skiing access. 49 lots have non-power boating access.</li>
                <li>Highly restricted subdivision.</li>
                <li>Homeowner's Association and Architectural Committee to regulate and enforce deed restrictions.</li>
                <li>Minimum square footage requirements: Lake lots - 2500 sf.; Ranch lots</li>
                <li>2200 sf. - Excellent school district - London Tuloso Midway and Flour Bluff I.S.D.</li>
                <li>Utilities-municipal water, individual wastewater systems, city gas, telephone, and local cable</li>
                <li>Association dues approximately $30/mo. for ranch and $50/mo. for waterfront</li>
                <li>Corpus Christi fire and police protection</li>
              </ul>
            </div>
            <div class="column">
              <h3>Casey Mengele</h3>
              <p>
                Sales Representative<br>
                <a href="mailto:casey@liveoakcustomhomes.com">casey@liveoakcustomhomes.com</a><br>
                5901 S. Oso Pkwy<br>
                361-850-9153
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="tablet">
    <div class="row">
      <div class="column">
        <div class="content">
          <h1>Live Oak Neighborhoods</h1><br />

          <div class="row">
            <div class="column">
              <h2>Shoreline Oaks - From the 120's</h2>
            </div>
          </div>
          <div class="row">
            <div class="column column-67">
              <p>Shoreline Oaks is a community with many ammenities including:</p>
              <ul>
                <li>Energy Efficient Homes</li>
                <li>Designed with Families in Mind</li>
                <li>Located only Minutes from One of the Top Rated School Districts in Texas (Flour Bluff Independent School District)</li>
                <li>Only 5 Minutes from Naval Air Station Corpus Christi</li>
                <li>Only 3 Minutes from H.E.B, Wal-Mart, &amp; Post Office</li>
                <li>10 Minute from Malls, Restaurant Row, Theaters and Gulf Beaches</li>
                <li>Neighborhood Swimming Pool with Children's Water Area &amp; park</li>
                <li>Home Owner's Association Maintains Pool, Common Areas, and All Front Lawns</li>
                <li>Future Waterfront Park</li>
              </ul>
            </div>
            <div class="column column-33">
              <div id="neighborhoodsBox01" class="imgBox"></div><br />
              <h3>Gloria Martinez</h3>
              <p>
                Sales Representative<br>
                <a href="mailto:gloria@liveoakcustomhomes.com">gloria@liveoakcustomhomes.com</a><br>
                Office: (361) 937-5668<br>
                Cell: (361) 549-1432
              </p>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="column">
              <h2>The Coves at Lago Vista</h2>
            </div>
          </div>
          <div class="row">
            <div class="column column-67">
              <p>"The new way to live in South Texas"</p>
              <p>The Coves at Lago Vista is a private lake community with many ammenities including:</p>

              <ul>
                <li>Lago Vista is a well-planned private gated lakeside and water-skiing community that offers families a relaxed vacation lifestyle with recreational activities ie. Boating, swimming, fishing.</li>
                <li>64 waterfront and 96 ranch home sites-Oversized and maintainable lots ranging from &frac12; ac. to 1 ac. - 19 acre regulation water-ski lake (2230'x275'x8' deep)</li>
                <li>The lake will be landscaped with over 100 trees for wind protection and aesthetic value.</li>
                <li>Community will provide common dock area, boat ramp, lighted entry fountain, open cabana, and swimming pool.</li>
                <li>1 &frac12; mile west of Oso Creek on FM. 2444 (S. Staples) near all Southside amenities and future crosstown extension.</li>
                <li>15 lots reserved for water-skiing access. 49 lots have non-power boating access.</li>
                <li>Highly restricted subdivision.</li>
                <li>Homeowner's Association and Architectural Committee to regulate and enforce deed restrictions.</li>
                <li>Minimum square footage requirements: Lake lots - 2500 sf.; Ranch lots</li>
                <li>2200 sf. - Excellent school district - London Tuloso Midway and Flour Bluff I.S.D.</li>
                <li>Utilities-municipal water, individual wastewater systems, city gas, telephone, and local cable</li>
                <li>Association dues approximately $30/mo. for ranch and $50/mo. for waterfront</li>
                <li>Corpus Christi fire and police protection</li>
              </ul>
            </div>
            <div class="column column-33">
              <h3>Casey Mengele</h3>
              <p>
                Sales Representative<br>
                <a href="mailto:casey@liveoakcustomhomes.com">casey@liveoakcustomhomes.com</a><br>
                5901 S. Oso Pkwy<br>
                361-850-9153
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="desktop">
    <div class="row">
      <div class="column">
        <div class="content">
          <h1>Live Oak Neighborhoods</h1><br />

          <div class="row">
            <div class="column">
              <h2>Shoreline Oaks - From the 120's</h2>
              <p>Shoreline Oaks is a community with many ammenities including:</p>
              <ul>
                <li>Energy Efficient Homes</li>
                <li>Designed with Families in Mind</li>
                <li>Located only Minutes from One of the Top Rated School Districts in Texas (Flour Bluff Independent School District)</li>
                <li>Only 5 Minutes from Naval Air Station Corpus Christi</li>
                <li>Only 3 Minutes from H.E.B, Wal-Mart, &amp; Post Office</li>
                <li>10 Minute from Malls, Restaurant Row, Theaters and Gulf Beaches</li>
                <li>Neighborhood Swimming Pool with Children's Water Area &amp; park</li>
                <li>Home Owner's Association Maintains Pool, Common Areas, and All Front Lawns</li>
                <li>Future Waterfront Park</li>
              </ul>
            </div>
            <div class="column">
              <div id="neighborhoodsBox01" class="imgBox"></div><br />
              <h3>Gloria Martinez</h3>
              <p>
                Sales Representative<br>
                <a href="mailto:gloria@liveoakcustomhomes.com">gloria@liveoakcustomhomes.com</a><br>
                Office: (361) 937-5668<br>
                Cell: (361) 549-1432
              </p>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="column">
              <h2>The Coves at Lago Vista</h2>
            </div>
          </div>
          <div class="row">
            <div class="column">
              <p>"The new way to live in South Texas"</p>
              <p>The Coves at Lago Vista is a private lake community with many ammenities including:</p>

              <ul>
                <li>Lago Vista is a well-planned private gated lakeside and water-skiing community that offers families a relaxed vacation lifestyle with recreational activities ie. Boating, swimming, fishing.</li>
                <li>64 waterfront and 96 ranch home sites-Oversized and maintainable lots ranging from &frac12; ac. to 1 ac. - 19 acre regulation water-ski lake (2230'x275'x8' deep)</li>
                <li>The lake will be landscaped with over 100 trees for wind protection and aesthetic value.</li>
                <li>Community will provide common dock area, boat ramp, lighted entry fountain, open cabana, and swimming pool.</li>
                <li>1 &frac12; mile west of Oso Creek on FM. 2444 (S. Staples) near all Southside amenities and future crosstown extension.</li>
                <li>15 lots reserved for water-skiing access. 49 lots have non-power boating access.</li>
                <li>Highly restricted subdivision.</li>
                <li>Homeowner's Association and Architectural Committee to regulate and enforce deed restrictions.</li>
                <li>Minimum square footage requirements: Lake lots - 2500 sf.; Ranch lots</li>
                <li>2200 sf. - Excellent school district - London Tuloso Midway and Flour Bluff I.S.D.</li>
                <li>Utilities-municipal water, individual wastewater systems, city gas, telephone, and local cable</li>
                <li>Association dues approximately $30/mo. for ranch and $50/mo. for waterfront</li>
                <li>Corpus Christi fire and police protection</li>
              </ul>
            </div>
            <div class="column">
              <h3>Casey Mengele</h3>
              <p>
                Sales Representative<br>
                <a href="mailto:casey@liveoakcustomhomes.com">casey@liveoakcustomhomes.com</a><br>
                5901 S. Oso Pkwy<br>
                361-850-9153
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
