<section class="ourPhilosophy">

  <div class="mobile">
    <div id="ourPhilosophyBox01" class="imgBox"></div>
    <div class="content">
      <h1>OUR PHILOSOPHY</h1>
      <p>Live Oak Construction understands the true meaning of home. It is more than just an address, it is where you live and experience intimate moments amongst family and friends.</p>
      <p>With over 20 years of experience we know that to truly be successful we must capture your personal vision and design a home that both reflects your personality and enhances your lifestyle.</p>
      <p>Our commitment to you goes well beyond a contract. It is in providing you with constant support, attention to detail and incomparable customer service throughout your building experience. Our exceptional quality and outstanding craftsmanship ensure your dreams become a reality in a Live Oak Construction Custom Home built for a lifetime.</p>
    </div>
  </div>

  <div class="tablet">

    <div class="row">
      <div class="column column-33">
        <div id="ourPhilosophyBox01" class="imgBox"></div>
      </div>
      <div class="column column-67">
        <div class="content" style="margin:10px 20px;">
          <h1>OUR PHILOSOPHY</h1>
          <p>Live Oak Construction understands the true meaning of home. It is more than just an address, it is where you live and experience intimate moments amongst family and friends.</p>
          <p>With over 20 years of experience we know that to truly be successful we must capture your personal vision and design a home that both reflects your personality and enhances your lifestyle.</p>
          <p>Our commitment to you goes well beyond a contract. It is in providing you with constant support, attention to detail and incomparable customer service throughout your building experience. Our exceptional quality and outstanding craftsmanship ensure your dreams become a reality in a Live Oak Construction Custom Home built for a lifetime.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div id="ourPhilosophyBox02" class="imgBox"></div>
      </div>
    </div>

  </div>

  <div class="desktop">

    <div class="row">
      <div class="column column-67">
        <div id="ourPhilosophyBox01" class="imgBox"></div>
      </div>
      <div class="column column-33">
        <div class="content" style="margin:54px 20px;">
          <h1>OUR PHILOSOPHY</h1>
          <p>Live Oak Construction understands the true meaning of home. It is more than just an address, it is where you live and experience intimate moments amongst family and friends.</p>
          <p>With over 20 years of experience we know that to truly be successful we must capture your personal vision and design a home that both reflects your personality and enhances your lifestyle.</p>
          <p>Our commitment to you goes well beyond a contract. It is in providing you with constant support, attention to detail and incomparable customer service throughout your building experience. Our exceptional quality and outstanding craftsmanship ensure your dreams become a reality in a Live Oak Construction Custom Home built for a lifetime.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div id="ourPhilosophyBox02" class="imgBox"></div>
      </div>
    </div>

  </div>

</section>
