<section class="series">

  <div class="mobile">

    <div id="premierSeriesBox01" class="imgBox"></div>
    <div class="content">
      <h1>PREMIER SERIES</h1>

      <h3>Interior Features</h3>
      <ul>
        <li>8' or 9' Plate Height (per plans)</li>
        <li>8'- 10' ceilings throughout home w/ enhanced raised ceilings</li>
        <li>200' Crown Moulding (Living Room, Dining Room, Kitchen, Master Bath, Master Bedroom)</li>
        <li>&frac12;" Sheetrock with Bull nose corners T/O except Window Returns</li>
        <li>1 Main Wall Color and 1 Accent Wall Color</li>
        <li>Ceramic Tile Flooring in Kitchen, All Baths, Foyer, Utility Room and Breakfast</li>
        <li>3 &frac12;" Colonial Base Moulding</li>
        <li>2 &frac12;" Colonial Door Casing</li>
        <li>Secondary Baths have Simulated Tile Fiberglass Units</li>
        <li>Custom Built, Ash or Birch, Cabinets with Solid Wood Raised Panel Doors, 30" Uppers on 8' Plate, 36' Uppers 9 &amp; 10 Plate, Crown Moulding and Recessed Hinges</li>
        <li>Custom Tile Countertops with Tile Backsplash on Diagonal with Stainless Steel Sink</li>
        <li>Raised Interior Panel Doors (6-Panel or Cheyenne)</li>
        <li>68 Metal Exterior Doors with Jam Savers</li>
        <li>Lighting Package Including Ceiling Fans in Living Room and Master Bedroom. (All Bedrooms braced and wired for Fan)</li>
        <li>Master Bath 42X60 Acrylic Tub - 36" Fiberglass Shower (specific to plans)</li>
        <li>Cultured Marble Vanities with Double Sinks in Master Bath (per plan)</li>
        <li>Cultured Marble Vanities in all Secondary Bath's</li>
        <li>Moen Plumbing Fixtures</li>
        <li>Gas Cook Top, Water Heater and Dryer</li>
        <li>Pre-wired for 4 telephone jacks</li>
        <li>Pre-wired for 4 cable outlets</li>
        <li>Pre-wired for Security System with Motion Detectors, Windows and Doors</li>
        <li>Pre-wired for Garage Door Opener</li>
      </ul>
    </div>
    <div id="premierSeriesBox02" class="imgBox"></div>
    <div class="content">
      <h3>Exterior Features</h3>
      <ul>
        <li>Individually Engineered and Inspected Post Tension Foundation</li>
        <li>100% Masonry Brick, Stone, Stucco or Hardi Plank Veneer per Plans</li>
        <li>House Wrap Vapor Barrier</li>
        <li>Hardi Fascia and Soffit, Continuous Soffit Vents</li>
        <li>8' or 9' Exterior Plate Height with Raised Ceilings to Enhance the Home</li>
        <li>30-Year Composition Shingle</li>
        <li>Alenco Vinyl Double Pane Low E Windows - White or Terra Beige with Plywood Window Coverings</li>
        <li>Two Car Garage with Windstorm Rated Garage Doors</li>
        <li>Broom Finished Driveways and Walks</li>
      </ul>
    </div>
    <div id="premierSeriesBox03" class="imgBox"></div>
    <div class="content">
      <h3>Energy Saving Features</h3>
      <ul>
        <li>House Wrap Vapor Barrier</li>
        <li>7/16" OSB Radiant Barrier Roof Deck</li>
        <li>R-14.5 Blown Insulation in Sidewalls, R-30 in Attic</li>
        <li>Alenco Vinyl Double Pane Low E Windows</li>
        <li>High Efficiency 14 SEER Air Conditioning Unit with Digital T-Stat, Amana A/C Unit with 10-Year Compressor Warranty or Customer Initiated Lifetime Compressor Warranty</li>
        <li>Energy Star Rated Construction</li>
      </ul>
    </div>
    <div id="premierSeriesBox04" class="imgBox"></div>
    <div class="content">
      <h3>Allowances</h3>
      <ul>
        <li>Appliances: $1,500.00</li>
        <li>Light Fixtures: $1,500.00</li>
        <li>Trim Hardware: $500.00</li>
        <li>Tile: $4.00 sq. ft.</li>
        <li>Carpet: $18.00 sq. yd.</li>
        <li>Entry Door: $350.00</li>
      </ul>
    </div>
    <div id="premierSeriesBox05" class="imgBox"></div>
  </div>

  <div class="tablet">
    <div class="row">
      <div class="column">

        <div class="content">
          <h1>PREMIER SERIES</h1><br>

          <h3>Interior Features</h3>
          <ul>
            <li>8' or 9' Plate Height (per plans)</li>
            <li>8'- 10' ceilings throughout home w/ enhanced raised ceilings</li>
            <li>200' Crown Moulding (Living Room, Dining Room, Kitchen, Master Bath, Master Bedroom)</li>
            <li>&frac12;" Sheetrock with Bull nose corners T/O except Window Returns</li>
            <li>1 Main Wall Color and 1 Accent Wall Color</li>
            <li>Ceramic Tile Flooring in Kitchen, All Baths, Foyer, Utility Room and Breakfast</li>
            <li>3 &frac12;" Colonial Base Moulding</li>
            <li>2 &frac12;" Colonial Door Casing</li>
            <li>Secondary Baths have Simulated Tile Fiberglass Units</li>
            <li>Custom Built, Ash or Birch, Cabinets with Solid Wood Raised Panel Doors, 30" Uppers on 8' Plate, 36' Uppers 9 &amp; 10 Plate, Crown Moulding and Recessed Hinges</li>
            <li>Custom Tile Countertops with Tile Backsplash on Diagonal with Stainless Steel Sink</li>
            <li>Raised Interior Panel Doors (6-Panel or Cheyenne)</li>
            <li>68 Metal Exterior Doors with Jam Savers</li>
            <li>Lighting Package Including Ceiling Fans in Living Room and Master Bedroom. (All Bedrooms braced and wired for Fan)</li>
            <li>Master Bath 42X60 Acrylic Tub - 36" Fiberglass Shower (specific to plans)</li>
            <li>Cultured Marble Vanities with Double Sinks in Master Bath (per plan)</li>
            <li>Cultured Marble Vanities in all Secondary Bath's</li>
            <li>Moen Plumbing Fixtures</li>
            <li>Gas Cook Top, Water Heater and Dryer</li>
            <li>Pre-wired for 4 telephone jacks</li>
            <li>Pre-wired for 4 cable outlets</li>
            <li>Pre-wired for Security System with Motion Detectors, Windows and Doors</li>
            <li>Pre-wired for Garage Door Opener</li>
          </ul>

          <h3>Exterior Features</h3>
          <ul>
            <li>Individually Engineered and Inspected Post Tension Foundation</li>
            <li>100% Masonry Brick, Stone, Stucco or Hardi Plank Veneer per Plans</li>
            <li>House Wrap Vapor Barrier</li>
            <li>Hardi Fascia and Soffit, Continuous Soffit Vents</li>
            <li>8' or 9' Exterior Plate Height with Raised Ceilings to Enhance the Home</li>
            <li>30-Year Composition Shingle</li>
            <li>Alenco Vinyl Double Pane Low E Windows - White or Terra Beige with Plywood Window Coverings</li>
            <li>Two Car Garage with Windstorm Rated Garage Doors</li>
            <li>Broom Finished Driveways and Walks</li>
          </ul>

          <h3>Energy Saving Features</h3>
          <ul>
            <li>House Wrap Vapor Barrier</li>
            <li>7/16" OSB Radiant Barrier Roof Deck</li>
            <li>R-14.5 Blown Insulation in Sidewalls, R-30 in Attic</li>
            <li>Alenco Vinyl Double Pane Low E Windows</li>
            <li>High Efficiency 14 SEER Air Conditioning Unit with Digital T-Stat, Amana A/C Unit with 10-Year Compressor Warranty or Customer Initiated Lifetime Compressor Warranty</li>
            <li>Energy Star Rated Construction</li>
          </ul>

          <h3>Allowances</h3>
          <ul>
            <li>Appliances: $1,500.00</li>
            <li>Light Fixtures: $1,500.00</li>
            <li>Trim Hardware: $500.00</li>
            <li>Tile: $4.00 sq. ft.</li>
            <li>Carpet: $18.00 sq. yd.</li>
            <li>Entry Door: $350.00</li>
          </ul>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div id="premierSeriesBox01" class="imgBox"></div>
      </div>
      <div class="column">
        <div id="premierSeriesBox02" class="imgBox"></div>
      </div>
      <div class="column">
        <div id="premierSeriesBox03" class="imgBox"></div>
      </div>
    </div>
  </div>

  <div class="desktop">

    <div class="content-small">
      <div class="row">
        <div class="column">
          <h1>PREMIER SERIES</h1><br>
        </div>
      </div>

      <div class="row">

        <div class="column">
          <h3>Interior Features</h3>
          <ul>
            <li>8' or 9' Plate Height (per plans)</li>
            <li>8'- 10' ceilings throughout home w/ enhanced raised ceilings</li>
            <li>200' Crown Moulding (Living Room, Dining Room, Kitchen, Master Bath, Master Bedroom)</li>
            <li>&frac12;" Sheetrock with Bull nose corners T/O except Window Returns</li>
            <li>1 Main Wall Color and 1 Accent Wall Color</li>
            <li>Ceramic Tile Flooring in Kitchen, All Baths, Foyer, Utility Room and Breakfast</li>
            <li>3 &frac12;" Colonial Base Moulding</li>
            <li>2 &frac12;" Colonial Door Casing</li>
            <li>Secondary Baths have Simulated Tile Fiberglass Units</li>
            <li>Custom Built, Ash or Birch, Cabinets with Solid Wood Raised Panel Doors, 30" Uppers on 8' Plate, 36' Uppers 9 &amp; 10 Plate, Crown Moulding and Recessed Hinges</li>
            <li>Custom Tile Countertops with Tile Backsplash on Diagonal with Stainless Steel Sink</li>
            <li>Raised Interior Panel Doors (6-Panel or Cheyenne)</li>
            <li>68 Metal Exterior Doors with Jam Savers</li>
            <li>Lighting Package Including Ceiling Fans in Living Room and Master Bedroom. (All Bedrooms braced and wired for Fan)</li>
            <li>Master Bath 42X60 Acrylic Tub - 36" Fiberglass Shower (specific to plans)</li>
            <li>Cultured Marble Vanities with Double Sinks in Master Bath (per plan)</li>
            <li>Cultured Marble Vanities in all Secondary Bath's</li>
            <li>Moen Plumbing Fixtures</li>
            <li>Gas Cook Top, Water Heater and Dryer</li>
            <li>Pre-wired for 4 telephone jacks</li>
            <li>Pre-wired for 4 cable outlets</li>
            <li>Pre-wired for Security System with Motion Detectors, Windows and Doors</li>
            <li>Pre-wired for Garage Door Opener</li>
          </ul>
        </div>

        <div class="column">
          <h3>Exterior Features</h3>
          <ul>
            <li>Individually Engineered and Inspected Post Tension Foundation</li>
            <li>100% Masonry Brick, Stone, Stucco or Hardi Plank Veneer per Plans</li>
            <li>House Wrap Vapor Barrier</li>
            <li>Hardi Fascia and Soffit, Continuous Soffit Vents</li>
            <li>8' or 9' Exterior Plate Height with Raised Ceilings to Enhance the Home</li>
            <li>30-Year Composition Shingle</li>
            <li>Alenco Vinyl Double Pane Low E Windows - White or Terra Beige with Plywood Window Coverings</li>
            <li>Two Car Garage with Windstorm Rated Garage Doors</li>
            <li>Broom Finished Driveways and Walks</li>
          </ul>

          <h3>Energy Saving Features</h3>
          <ul>
            <li>House Wrap Vapor Barrier</li>
            <li>7/16" OSB Radiant Barrier Roof Deck</li>
            <li>R-14.5 Blown Insulation in Sidewalls, R-30 in Attic</li>
            <li>Alenco Vinyl Double Pane Low E Windows</li>
            <li>High Efficiency 14 SEER Air Conditioning Unit with Digital T-Stat, Amana A/C Unit with 10-Year Compressor Warranty or Customer Initiated Lifetime Compressor Warranty</li>
            <li>Energy Star Rated Construction</li>
          </ul>

          <h3>Allowances</h3>
          <ul>
            <li>Appliances: $1,500.00</li>
            <li>Light Fixtures: $1,500.00</li>
            <li>Trim Hardware: $500.00</li>
            <li>Tile: $4.00 sq. ft.</li>
            <li>Carpet: $18.00 sq. yd.</li>
            <li>Entry Door: $350.00</li>
          </ul>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="column column-40">
        <div id="premierSeriesBox01" class="imgBox"></div>
      </div>
      <div class="column column-60">
        <div class="row">
          <div class="column">
            <div id="premierSeriesBox02" class="imgBox"></div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div id="premierSeriesBox03" class="imgBox"></div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
