<div class="mobile">
  <div class="container blackBoxGrid">

    <div class="row">
      <div class="column gallery01">
        <a href="/design-and-build/series/premier">
          <h1>PREMIER SERIES FEATURES</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
      <div class="column gallery02">
        <a href="/design-and-build/series/classic">
          <h1>CLASSIC SERIES FEATURES</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="column gallery03">
        <a href="/design-and-build/series/lago">
          <h1>LAGO SERIES FEATURES</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
      <div class="column gallery04">
        <a href="/design-and-build/series/signature">
          <h1>SIGNATURE SERIES FEATURES</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
    </div>

  </div>
</div>
<div class="tablet">
  <div class="blackBoxGrid">

    <div class="row">
      <div class="column gallery01">
        <a href="/design-and-build/series/premier">
          <h1>PREMIER SERIES FEATURES</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
      <div class="column gallery02">
        <a href="/design-and-build/series/classic">
          <h1>CLASSIC SERIES FEATURES</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="column gallery03">
        <a href="/design-and-build/series/lago">
          <h1>LAGO SERIES FEATURES</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
      <div class="column gallery04">
        <a href="/design-and-build/series/signature">
          <h1>SIGNATURE SERIES FEATURES</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
    </div>

  </div>
</div>
<div class="desktop">
  <div class="blackBoxGrid">

    <div class="row">
      <div class="column gallery01">
        <a href="/design-and-build/series/premier">
          <h1>PREMIER SERIES FEATURES</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
      <div class="column gallery02">
        <a href="/design-and-build/series/classic">
          <h1>CLASSIC SERIES FEATURES</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="column gallery03">
        <a href="/design-and-build/series/lago">
          <h1>LAGO SERIES FEATURES</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
      <div class="column gallery04">
        <a href="/design-and-build/series/signature">
          <h1>SIGNATURE SERIES FEATURES</h1>
          <p>This is placeholder text that will be two short sentences describing the home featured on this splash page.</p>
        </a>
      </div>
    </div>

  </div>
</div>
