<section class="series">

  <div class="mobile">

    <div id="signatureSeriesBox01" class="imgBox"></div>
    <div class="content">
      <h1>SIGNATURE SERIES</h1>

      <h3>Interior Features</h3>
      <ul>
        <li>10' Plate Height (per plans)</li>
        <li>10-14' ceilings throughout home w/ Signature Style Ceilings per Plan</li>
        <li>Crown Moulding in Master Bedroom, Living Room, Kitchen, Breakfast, Dining and Study</li>
        <li>Stylish Interior Accent Stone Featured on your choice of Breakfast, Bar Wall, Vent Hood, Fire Place</li>
        <li>&frac12;&quot; Sheetrock with Bull nose corners T/O except Window Returns including Ceilings</li>
        <li>1 Main Wall Color and 3 Accent Wall Colors to Showcase Rooms</li>
        <li>Ceramic Tile Flooring in Kitchen, All Bath's, Foyer, Living Room, Utility Room and Breakfast</li>
        <li>4 &frac12;&quot; Decorative B-11 Base Moulding</li>
        <li>3 &frac12;&quot; Decorative B-11 Door Casing - 8' Doors</li>
        <li>Custom Built, Rustic Refined, Knotty Alder Cabinets with Solid Wood Raised Panel Doors, 42' Uppers, Crown Moulding and Recessed Hinges</li>
        <li>Wood Cased Windows in Living Room, Breakfast, Dining Room and Master Bedroom</li>
        <li>Stain Grade Framed Mirrors in Master Bath</li>
        <li>Convenience Drawer at Vanities and Kitchen Sink</li>
        <li>Rustic Refined Knotty Adler Stain Grade Crown, Base, Door Casing and Cased Windows in selected 3 areas</li>
        <li>Custom Vent Hood Design</li>
        <li>Custom Granite Countertops with Tumbled Marble Backsplash on Diagonal with Stainless Steel Under Mount Kitchen Sink</li>
        <li>8' Interior Raised Panel Doors in Living Area's</li>
        <li>Lighting Package Including Ceiling Fans in Living Room and Master Bedroom. (All Bedrooms braced and wired for Fan)</li>
        <li>20 Recessed Cans</li>
        <li>Master Bath 42X60 Acrylic Drop-In Whirlpool Tub Tile Deck/Custom Tile Shower with Semi Frameless Glass Door Design (specific to plans)</li>
        <li>Secondary Baths have Tile Surrounds with Kohler Tubs</li>
        <li>Granite Vanities with Double Sinks in Master Bath (per plan) Under Mount Kohler Vanities. Granite Vanities in Secondary Bath's with Drop-In Bowls</li>
        <li>Luxart Plumbing Fixtures</li>
        <li>Oil Rubbed Bronze or Brushed Nickel Faucets throughout Master Bath, &frac12; Bath 8&quot; Spreads, Secondary Bath's 4&quot; Spread</li>
        <li>Gas Cook Top, Water Heater and Dryer</li>
        <li>8' Metal Doors with Stainless Steel Hinges, Jam Savers and Blind Insert on Atrium Doors</li>
        <li>Pre-wired for 4 telephone jacks</li>
        <li>Pre-wired for 4 cable outlets</li>
        <li>Centralized Smart Box for Home Entertainment System</li>
        <li>Full Security System</li>
        <li>Prewired for Surround Sound</li>
        <li>Garage Door Openers with 2 Remotes</li>
      </ul>
    </div>
    <div id="signatureSeriesBox02" class="imgBox"></div>
    <div class="content">
      <h3>Exterior Features</h3>
      <ul>
        <li>Individually Engineered and Inspected Post Tension Foundation</li>
        <li>100% Masonry Brick, Stucco or Hardi Plank Veneer per Plans</li>
        <li>Stylish Stone Accent Features on Exterior</li>
        <li>Hardi Fascia and Soffit, Continuous Soffit Vents</li>
        <li>10' Exterior Plate Height with Raised Ceilings to Enhance the Home</li>
        <li>30-Year Composition Shingle</li>
        <li>Two Car Garage with Windstorm Rated Garage Doors</li>
      </ul>
    </div>
    <div id="signatureSeriesBox03" class="imgBox"></div>
    <div class="content">
      <h3>Energy Saving Features</h3>
      <ul>
        <li>House Wrap Vapor Barrier</li>
        <li>7/16&quot; OSB Radiant Barrier Roof Deck</li>
        <li>R-14.5 Blown Insulation in Sidewalls, R-30 in Attic</li>
        <li>Alenco Vinyl Double Pane Low E Windows with Plywood Coverings</li>
        <li>High Efficiency 14 SEER Air Conditioning Unit with Digital T-Stat, Amana A/C Unit with 10-Year Compressor Warranty or Customer Initiated Lifetime Compressor Warranty</li>
        <li>Energy Star Rated Construction</li>
      </ul>
    </div>
    <div id="signatureSeriesBox04" class="imgBox"></div>
    <div class="content">
      <h3>Allowances</h3>
      <ul>
        <li><strong>Appliances:</strong> $4,500.00</li>
        <li><strong>Light Fixtures:</strong> $3,500.00</li>
        <li><strong>Trim Hardware:</strong> $1,000.00</li>
        <li><strong>Tile:</strong> $4.50 sq. ft.</li>
        <li><strong>Carpet:</strong> $20.00 sq. yd.</li>
        <li><strong>Entry Door:</strong> $1,000.00</li>
        <li><strong>Security System:</strong> $650.00</li>
      </ul>
    </div>
    <div id="signatureSeriesBox05" class="imgBox"></div>
  </div>

  <div class="tablet">
    <div class="row">
      <div class="column column-60">

        <div class="content">
          <h1>SIGNATURE SERIES</h1>

          <h3>Interior Features</h3>
          <ul>
            <li>10' Plate Height (per plans)</li>
            <li>10-14' ceilings throughout home w/ Signature Style Ceilings per Plan</li>
            <li>Crown Moulding in Master Bedroom, Living Room, Kitchen, Breakfast, Dining and Study</li>
            <li>Stylish Interior Accent Stone Featured on your choice of Breakfast, Bar Wall, Vent Hood, Fire Place</li>
            <li>&frac12;&quot; Sheetrock with Bull nose corners T/O except Window Returns including Ceilings</li>
            <li>1 Main Wall Color and 3 Accent Wall Colors to Showcase Rooms</li>
            <li>Ceramic Tile Flooring in Kitchen, All Bath's, Foyer, Living Room, Utility Room and Breakfast</li>
            <li>4 &frac12;&quot; Decorative B-11 Base Moulding</li>
            <li>3 &frac12;&quot; Decorative B-11 Door Casing - 8' Doors</li>
            <li>Custom Built, Rustic Refined, Knotty Alder Cabinets with Solid Wood Raised Panel Doors, 42' Uppers, Crown Moulding and Recessed Hinges</li>
            <li>Wood Cased Windows in Living Room, Breakfast, Dining Room and Master Bedroom</li>
            <li>Stain Grade Framed Mirrors in Master Bath</li>
            <li>Convenience Drawer at Vanities and Kitchen Sink</li>
            <li>Rustic Refined Knotty Adler Stain Grade Crown, Base, Door Casing and Cased Windows in selected 3 areas</li>
            <li>Custom Vent Hood Design</li>
            <li>Custom Granite Countertops with Tumbled Marble Backsplash on Diagonal with Stainless Steel Under Mount Kitchen Sink</li>
            <li>8' Interior Raised Panel Doors in Living Area's</li>
            <li>Lighting Package Including Ceiling Fans in Living Room and Master Bedroom. (All Bedrooms braced and wired for Fan)</li>
            <li>20 Recessed Cans</li>
            <li>Master Bath 42X60 Acrylic Drop-In Whirlpool Tub Tile Deck/Custom Tile Shower with Semi Frameless Glass Door Design (specific to plans)</li>
            <li>Secondary Baths have Tile Surrounds with Kohler Tubs</li>
            <li>Granite Vanities with Double Sinks in Master Bath (per plan) Under Mount Kohler Vanities. Granite Vanities in Secondary Bath's with Drop-In Bowls</li>
            <li>Luxart Plumbing Fixtures</li>
            <li>Oil Rubbed Bronze or Brushed Nickel Faucets throughout Master Bath, &frac12; Bath 8&quot; Spreads, Secondary Bath's 4&quot; Spread</li>
            <li>Gas Cook Top, Water Heater and Dryer</li>
            <li>8' Metal Doors with Stainless Steel Hinges, Jam Savers and Blind Insert on Atrium Doors</li>
            <li>Pre-wired for 4 telephone jacks</li>
            <li>Pre-wired for 4 cable outlets</li>
            <li>Centralized Smart Box for Home Entertainment System</li>
            <li>Full Security System</li>
            <li>Prewired for Surround Sound</li>
            <li>Garage Door Openers with 2 Remotes</li>
          </ul>

          <h3>Exterior Features</h3>
          <ul>
            <li>Individually Engineered and Inspected Post Tension Foundation</li>
            <li>100% Masonry Brick, Stucco or Hardi Plank Veneer per Plans</li>
            <li>Stylish Stone Accent Features on Exterior</li>
            <li>Hardi Fascia and Soffit, Continuous Soffit Vents</li>
            <li>10' Exterior Plate Height with Raised Ceilings to Enhance the Home</li>
            <li>30-Year Composition Shingle</li>
            <li>Two Car Garage with Windstorm Rated Garage Doors</li>
          </ul>

          <h3>Energy Saving Features</h3>
          <ul>
            <li>House Wrap Vapor Barrier</li>
            <li>7/16&quot; OSB Radiant Barrier Roof Deck</li>
            <li>R-14.5 Blown Insulation in Sidewalls, R-30 in Attic</li>
            <li>Alenco Vinyl Double Pane Low E Windows with Plywood Coverings</li>
            <li>High Efficiency 14 SEER Air Conditioning Unit with Digital T-Stat, Amana A/C Unit with 10-Year Compressor Warranty or Customer Initiated Lifetime Compressor Warranty</li>
            <li>Energy Star Rated Construction</li>
          </ul>

          <h3>Allowances</h3>
          <ul>
            <li><strong>Appliances:</strong> $4,500.00</li>
            <li><strong>Light Fixtures:</strong> $3,500.00</li>
            <li><strong>Trim Hardware:</strong> $1,000.00</li>
            <li><strong>Tile:</strong> $4.50 sq. ft.</li>
            <li><strong>Carpet:</strong> $20.00 sq. yd.</li>
            <li><strong>Entry Door:</strong> $1,000.00</li>
            <li><strong>Security System:</strong> $650.00</li>
          </ul>

        </div>
      </div>

      <div class="column column-40">

        <div class="row">
          <div class="column">
            <div id="signatureSeriesBox01" class="imgBox"></div>
          </div>
        </div><br />
        <div class="row">
          <div class="column">
            <div id="signatureSeriesBox02" class="imgBox"></div>
          </div>
        </div><br />
        <div class="row">
          <div class="column">
            <div id="signatureSeriesBox03" class="imgBox"></div>
          </div>
        </div><br />
        <div class="row">
          <div class="column">
            <div id="signatureSeriesBox04" class="imgBox"></div>
          </div>
        </div><br />
        <div class="row">
          <div class="column">
            <div id="signatureSeriesBox05" class="imgBox"></div>
          </div>
        </div><br />
        <div class="row">
          <div class="column">
            <div id="signatureSeriesBox06" class="imgBox"></div>
          </div>
        </div><br />
        <div class="row">
          <div class="column">
            <div id="signatureSeriesBox07" class="imgBox"></div>
          </div>
        </div><br />
        <div class="row">
          <div class="column">
            <div id="signatureSeriesBox08" class="imgBox"></div>
          </div>
        </div><br />
        <div class="row">
          <div class="column">
            <div id="signatureSeriesBox09" class="imgBox"></div>
          </div>
        </div><br />
        <div class="row">
          <div class="column">
            <div id="signatureSeriesBox10" class="imgBox"></div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="desktop">

    <div class="content">
      <div class="row">
        <div class="column">
          <h1>SIGNATURE SERIES</h1>
        </div>
      </div>

      <div class="row">

        <div class="column">
          <h3>Interior Features</h3>
          <ul>
            <li>10' Plate Height (per plans)</li>
            <li>10-14' ceilings throughout home w/ Signature Style Ceilings per Plan</li>
            <li>Crown Moulding in Master Bedroom, Living Room, Kitchen, Breakfast, Dining and Study</li>
            <li>Stylish Interior Accent Stone Featured on your choice of Breakfast, Bar Wall, Vent Hood, Fire Place</li>
            <li>&frac12;&quot; Sheetrock with Bull nose corners T/O except Window Returns including Ceilings</li>
            <li>1 Main Wall Color and 3 Accent Wall Colors to Showcase Rooms</li>
            <li>Ceramic Tile Flooring in Kitchen, All Bath's, Foyer, Living Room, Utility Room and Breakfast</li>
            <li>4 &frac12;&quot; Decorative B-11 Base Moulding</li>
            <li>3 &frac12;&quot; Decorative B-11 Door Casing - 8' Doors</li>
            <li>Custom Built, Rustic Refined, Knotty Alder Cabinets with Solid Wood Raised Panel Doors, 42' Uppers, Crown Moulding and Recessed Hinges</li>
            <li>Wood Cased Windows in Living Room, Breakfast, Dining Room and Master Bedroom</li>
            <li>Stain Grade Framed Mirrors in Master Bath</li>
            <li>Convenience Drawer at Vanities and Kitchen Sink</li>
            <li>Rustic Refined Knotty Adler Stain Grade Crown, Base, Door Casing and Cased Windows in selected 3 areas</li>
            <li>Custom Vent Hood Design</li>
            <li>Custom Granite Countertops with Tumbled Marble Backsplash on Diagonal with Stainless Steel Under Mount Kitchen Sink</li>
            <li>8' Interior Raised Panel Doors in Living Area's</li>
            <li>Lighting Package Including Ceiling Fans in Living Room and Master Bedroom. (All Bedrooms braced and wired for Fan)</li>
            <li>20 Recessed Cans</li>
            <li>Master Bath 42X60 Acrylic Drop-In Whirlpool Tub Tile Deck/Custom Tile Shower with Semi Frameless Glass Door Design (specific to plans)</li>
            <li>Secondary Baths have Tile Surrounds with Kohler Tubs</li>
            <li>Granite Vanities with Double Sinks in Master Bath (per plan) Under Mount Kohler Vanities. Granite Vanities in Secondary Bath's with Drop-In Bowls</li>
            <li>Luxart Plumbing Fixtures</li>
            <li>Oil Rubbed Bronze or Brushed Nickel Faucets throughout Master Bath, &frac12; Bath 8&quot; Spreads, Secondary Bath's 4&quot; Spread</li>
            <li>Gas Cook Top, Water Heater and Dryer</li>
            <li>8' Metal Doors with Stainless Steel Hinges, Jam Savers and Blind Insert on Atrium Doors</li>
            <li>Pre-wired for 4 telephone jacks</li>
            <li>Pre-wired for 4 cable outlets</li>
            <li>Centralized Smart Box for Home Entertainment System</li>
            <li>Full Security System</li>
            <li>Prewired for Surround Sound</li>
            <li>Garage Door Openers with 2 Remotes</li>
          </ul>
        </div>

        <div class="column">
          <h3>Exterior Features</h3>
          <ul>
            <li>Individually Engineered and Inspected Post Tension Foundation</li>
            <li>100% Masonry Brick, Stucco or Hardi Plank Veneer per Plans</li>
            <li>Stylish Stone Accent Features on Exterior</li>
            <li>Hardi Fascia and Soffit, Continuous Soffit Vents</li>
            <li>10' Exterior Plate Height with Raised Ceilings to Enhance the Home</li>
            <li>30-Year Composition Shingle</li>
            <li>Two Car Garage with Windstorm Rated Garage Doors</li>
          </ul>

          <h3>Energy Saving Features</h3>
          <ul>
            <li>House Wrap Vapor Barrier</li>
            <li>7/16&quot; OSB Radiant Barrier Roof Deck</li>
            <li>R-14.5 Blown Insulation in Sidewalls, R-30 in Attic</li>
            <li>Alenco Vinyl Double Pane Low E Windows with Plywood Coverings</li>
            <li>High Efficiency 14 SEER Air Conditioning Unit with Digital T-Stat, Amana A/C Unit with 10-Year Compressor Warranty or Customer Initiated Lifetime Compressor Warranty</li>
            <li>Energy Star Rated Construction</li>
          </ul>

          <h3>Allowances</h3>
          <ul>
            <li><strong>Appliances:</strong> $4,500.00</li>
            <li><strong>Light Fixtures:</strong> $3,500.00</li>
            <li><strong>Trim Hardware:</strong> $1,000.00</li>
            <li><strong>Tile:</strong> $4.50 sq. ft.</li>
            <li><strong>Carpet:</strong> $20.00 sq. yd.</li>
            <li><strong>Entry Door:</strong> $1,000.00</li>
            <li><strong>Security System:</strong> $650.00</li>
          </ul>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="column column-33">

        <div class="row">
          <div class="column">
            <div id="signatureSeriesBox01" class="imgBox"></div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div id="signatureSeriesBox02" class="imgBox"></div>
          </div>
          <div class="column">
            <div id="signatureSeriesBox03" class="imgBox"></div>
          </div>
        </div>

      </div>
      <div class="column column-67">

        <div class="row">
          <div class="column column-67">
            <div id="signatureSeriesBox04" class="imgBox"></div>
          </div>
          <div class="column column-33">
            <div id="signatureSeriesBox05" class="imgBox"></div>
          </div>
        </div>

        <div class="row">
          <div class="column column-33">
            <div id="signatureSeriesBox06" class="imgBox"></div>
          </div>
          <div class="column column-67">

            <div class="row">
              <div class="column">
                <div id="signatureSeriesBox07" class="imgBox"></div>
              </div>
              <div class="column">
                <div id="signatureSeriesBox08" class="imgBox"></div>
              </div>
            </div>

            <div class="row">
              <div class="column">
                <div id="signatureSeriesBox09" class="imgBox"></div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>

</section>
