<section class="warranty">
  <div class="mobile">
    <div id="warrantyBox01" class="imgBox"></div>
    <div class="content">
      <h1>OUR WARRANTY</h1>
      <h4>- One Year Builder's Warranty</h4>
      <h4>- Two Year Major Systems Warranty</h4>
      <h4>- All Manufacturer's Pass through Warranties</h4>
      <h4>- Ten Year Extended Warranty on all Structural Items for Every Home We Build</h4>

      <h3>PRE-EXISTING HOME WARRANTIES</h3>
      <p>Please download the attached warranty work order, then complete the form and email it to:</p>
      <p>Jennifer Powell, Office Manager <a href="mailto:liveoakconst@gmail.com">liveoakconst@gmail.com</a></p>
      <p>If you have any questions please call: <a href="tel:3618541626">(361) 854-1626</a></p>
    </div>
  </div>
  <div class="desktop">
    <div class="row">
      <div class="column column-67">
        <div class="content">
          <h1>OUR WARRANTY</h1>
          <h4>- One Year Builder's Warranty</h4>
          <h4>- Two Year Major Systems Warranty</h4>
          <h4>- All Manufacturer's Pass through Warranties</h4>
          <h4>- Ten Year Extended Warranty on all Structural Items for Every Home We Build</h4>

          <h3>PRE-EXISTING HOME WARRANTIES</h3>
          <p>Please download the attached warranty work order, then complete the form and email it to:</p>
          <p>Jennifer Powell, Office Manager <a href="mailto:liveoakconst@gmail.com">liveoakconst@gmail.com</a></p>
          <p>If you have any questions please call: <a href="tel:3618541626">(361) 854-1626</a></p>
        </div>
      </div>
      <div class="column column-33">
        <div id="warrantyBox01" class="imgBox"></div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div id="warrantyBox02" class="imgBox"></div>
      </div>
      <div class="column">
        <div id="warrantyBox03" class="imgBox"></div>
      </div>
      <div class="column">
        <div id="warrantyBox04" class="imgBox"></div>
      </div>
    </div>
  </div>
</section>
