<section class="contactUs">

  <div class="mobile">
    <div id="contactUsBox01" class="imgBox"></div>
    <div class="content">
      <h1>CONTACT US</h1>
      <h3>LIVE OAK CUSTOM HOMES</h3>
      <p>
        <strong>
          6838 Greenwood Dr.<br />
          Corpus Christi, TX 78415
        </strong>
      </p>
      <p>
        Office: <a href="tel:3618541626">(361) 854-1626</a><br />
        General Sales: <a href="tel:3618509153">(361) 850-9153</a><br />
        Fax: (866) 408-0656</a>
      </p>
      <p>
        <a href="#">Download Broker-Client Registration Form</a>
      </p>
    </div>

    <%= render 'form', contact: @contact %>

    <div class="content">
      <h5>Contact our Corpus Christi Live Oak Construction salespersons directly.</h5>

      <h3>Shoreline Oaks</h3>
      <p>
        <strong>Gloria Martinez</strong><br />
        Sales Representative<br />
        <a href="mailto:gloria@liveoakcustomhomes.com">gloria@liveoakcustomhomes.com</a><br />
        2117 Oak Creek Cove<br />
        Office: <a href="tel:3619375668">(361) 937-5668</a><br />
        Cell: <a href="tel:3615491432">(361) 549-1432</a><br />
      </p>

      <h3>THE COVES AT LAGO VISTA</h3>
      <p>
        <strong>Casey Mengele</strong><br />
        Sales Representative<br />
        <a href="mailto:casey@liveoakcustomhomes.com">casey@liveoakcustomhomes.com</a><br />
        5901 S. Oso Pkwy<br />
        Office: <a href="tel:3618509153">(361) 850-9153</a>
      </p>
    </div>

    <div id="contactUsBox02" class="imgBox"></div>
  </div>

</section>
